<div class="hc-w-30 hc-center hc-ptop-5">
    <mat-card>
        <header class="hc-txt-center hc-ptop-2">
            <h1>Recuperação de senha</h1>
        </header>
        <mat-card-content class="hc-ptop-2">
            <form [formGroup]="recoverPasswordForm" (submit)="sendLinktoEmail()">
                <mat-form-field class="hc-w-100 hc-ptop-2">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('required')">
                        Informe o seu email
                    </mat-error>
                    <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('pattern')">
                        Email inválido
                    </mat-error>
                </mat-form-field>
                <footer class="hc-txt-right hc-ptop-2">
                    <button type="submit" mat-raised-button color="primary" class="hc-mright-1">Receber link</button>
                    <button type="button" mat-button [routerLink]="['/login']">Cancelar</button>
                </footer>
            </form>
        </mat-card-content>
    </mat-card>
</div>